/* imports */
@import "./styles/variables.css";

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "T1Korium";
  src: url("/fonts/T1Korium-2Kg-BF65f3bd011a7a4.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-app-background text-app-text;
  }
  .name-title {
    font-family: "T1Korium", sans-serif;
  }
  .app-width {
    @apply max-w-[1800px] mx-auto;
  }
  .app-padding {
    @apply px-3 py-10 lg:px-0 lg:py-32;
  }
  .heading-text {
    @apply capitalize font-bold font-heading text-5xl lg:text-[85px];
  }
  .embla {
    will-change: transform;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* .mySwiper {
    @apply max-w-80 w-full;
  } */
}
